<div class="flex flex-col items-center justify-center h-screen bg-gray-100">
  <h1 class="text-2xl font-bold mb-6 text-center text-gray-800">
      LocaGest
    </h1>

  <div class="bg-white shadow-2xl rounded-2xl p-10 w-96">
    <h2 class="text-2xl font-bold mb-6 text-center text-gray-800">
      Login
    </h2>
    <p>
      Preencha com as informações de acesso!
    </p>

    <form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="flex flex-col gap-4">
      <input
        type="text"
        name="identifier"
        [(ngModel)]="identifier"
        placeholder="Email ou CPF"
        required
        class="border rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-500"
      />

      <input
        type="password"
        name="password"
        [(ngModel)]="password"
        placeholder="Senha"
        required
        class="border rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-500"
      />

      <button
        type="submit"
        [disabled]="!loginForm.valid"
        class="bg-primary text-white py-2 rounded-lg hover:bg-indigo-700 transition"
      >
        Entrar
      </button>

      <p class="text-center">
        Não tem uma conta?
        <a routerLink="/register" class="text-indigo-600 hover:underline">Cadastre-se</a>
      </p>

      <p *ngIf="errorMessage" class="text-red-500 text-sm text-center">
        {{ errorMessage }}
      </p>
    </form>
  </div>
</div>
