<div class="flex items-center justify-center h-screen bg-gray-100">
  <div class="bg-white shadow-2xl rounded-2xl p-10 w-96">
    <h1 class="text-2xl font-bold mb-6 text-center text-gray-800">
      Cadastro
    </h1>

    <form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="flex flex-col gap-4">
        <div class="flex flex-col">
            <label for="name" class="text-black">Nome completo:</label>
            <input
            type="text"
            name="name"
            [(ngModel)]="name"
            placeholder="Nome completo"
            required
            class="border rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-500"
          />
        </div>

      <div class="flex flex-col">
        <label for="cpf" class="text-black">CPF:</label>
        <input
        type="text"
        name="cpf"
        [(ngModel)]="cpf"
        placeholder="CPF"
        required
        class="border rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-500"
      />
      </div>

      <div class="flex flex-col">
        <label for="email" class="text-black">Email:</label>
        <input
        type="email"
        name="email"
        [(ngModel)]="email"
        placeholder="Email"
        required
        class="border rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-500"
      />
      </div>

      <div class="flex flex-col">
        <label for="password" class="text-black">Senha:</label>
        <input
          type="password"
          name="password"
          [(ngModel)]="password"
          placeholder="Senha"
          required
          class="border rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-500"
        />
      </div>

      <button
        type="submit"
        [disabled]="!loginForm.valid"
        class="bg-primary text-white py-2 rounded-lg hover:bg-indigo-700 transition"
      >
        Entrar
      </button>

      <p *ngIf="errorMessage" class="text-red-500 text-sm text-center">
        {{ errorMessage }}
      </p>
    </form>
  </div>
</div>
