@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles (opcional) */
body {
  @apply bg-gray-100 text-gray-800;
  font-family: 'Inter', sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
